.bar {
    stroke: black;
}

bar-line {
    color: #555;
}

.highlight {
    fill: red;
}

.debug_box {
    fill: blue;
    opacity: 0.5;
}

#inputMode {
    background-color: blue;
}


#noteOrRestInput {
    border-style: solid;
    border-color: black;
    background-color: green;
}